head {
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden
}

h1 {
    font-size: 36pt;
}

div {
    text-align: center;
}

#input_logs {
    font-size: 16pt;
    font-family: "Lucida Console", Courier, monospace;
    resize: none;
}

button {
    font-size: 16pt;
    display: block;
    margin: 10px auto;
}
